.header {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto";
    background-color: #1f2937;
    align-items: center;
}
.title {
    margin-left : 110px;
    font-size: 24px;
    color: #F9F8FA;
    font-weight: 900;
}
.links {
    color : #e5e7eb;
    font-size : 18px;
    margin-right : 230px;
}
ul {
    list-style: none;
    display: flex;
    gap : 25px;
}
.part2{
    display :flex;
    justify-content: space-between;
    height : 450px;
    align-items: center;
    padding-left: 110px;
    background-color: #1f2937;
    padding-top : 20px;
    font-family: "Roboto";
}
.leftside {
    width : 470px;
}

.rightside {
    color: wheat;
    display: flex;
    width: 300px;
    height : 200px;
    margin-right : 200px;
    background-color: grey;
    padding-left: 120px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    align-items : center;
}
button {
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    font-style: bold;
    font : "Roboto";
    font-size : 20px;
    border-radius: 12px;
    border-color:#3882f6 ;
}
.sec2 , .sec3{
    height : 450px;
}

.text-sec2 {
    display : flex;
    align-items : center;
    justify-content: center;
    font-family: "Roboto";
    font-size: 36px;
    color : #1F2937;
    font-weight : 900;
    margin-top : 40px;
    margin-bottom : 40px;
}
.boxes {
    display : flex;
    justify-content: center;
    gap : 45px;
}
.b1, .b2, .b3, .b4 {
    display : flex;
    padding : 75px;
    border : 5px solid #3882f6;
    border-radius: 10px;
}
.texts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 58px;
}
.texts > div {
    display : flex;
    width: 150px;
    color : rgb(114, 113, 113);
    font-family: "Roboto";
    margin-top :10px;
    align-items: center;
}
.sec3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e7eb;
   
}
#quote {
    align-self: center;
    width : 780px;
    font-family: "Roboto";
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    font-weight : 300;
}
#aut {
    padding-left : 890px;
    font-family: "Roboto";
    font-weight: 900;
}

.footer {
    height : 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color :#3882f6;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    /* padding-bottom: 40px; */
    width: 700px;
    height :150px;
}
.text_foot > div {
    font-family: 'Roboto'; 
    padding-left : 120px;
}
.container {
    display : flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color :#3882f6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width : 350px;
}
.container > button {
    border : 2px solid white;
    font-family: "Roboto";
    font-size: 18px;
    padding-left : 40px;
    padding-right : 40px;
    font-weight : 600;
}